:root {
    --canvas-width: 720px;
    --canvas-height: 480px;
}

@font-face {
    font-family: 'Luckiest_Guy';
    src: url(./assets/font/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

* {
    font-family: 'Luckiest_Guy';
    box-sizing: border-box;

}

body {
    display: grid;
    place-items: center;
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}
